/*==================!!!!!!!!!!!!==================*/
/******************* COMMUN ALL *******************/
/*==================!!!!!!!!!!!!==================*/

.site_content_contain_home
{
    height:             100vh;
    width:              100%;  
    color:              white;
}

#team_section, #hide_main 
{
    display:            none;
}

header 
{
    height:             30vh;
    width:              100%;
}

/**************** menu ****************/

.menu_content_contain
{
    display:            flex;
    justify-content:    space-around;
}

.menu_container
{
    padding-top:        3em;
    width:              100%;
}

.menu 
{
    display:            flex;
    flex-direction:     row;
    list-style:         none;
    width:              100%;
    justify-content:    space-around;
    padding:            0;
}

.menu_item
{
    text-decoration:    none;
    color:              white;
    letter-spacing:     0.6em;
}


/*==================!!!!!!!!!!!==================*/
/******************* PAGE ACCUEIL *******************/
/*==================!!!!!!!!!!!==================*/

.home_body {
    padding:            0;
    margin:             0;
    background:         linear-gradient(#f2cde5, #c9eafe);
    background-size:    cover;
    color:              white;
    text-align:         center;
    font-family:        'Palanquin', sans-serif;
}

.main_title 
{
    height:             40vh;
    font-family:        'Open Sans', sans-serif;
}

.main_title h1
{
    padding:            0;
    margin:             0;
    font-size:          8em;
}

.icon_scrolldown{
    height:             30vh;
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-around;
}

.link_project
{
    display:            flex;
    flex-direction:     column;
}

.link_project h3
{
    letter-spacing:     0.6em;
}

.link_project hr
{
    height:             5em;
    border :            2px solid white;
}


/*==================!!!!!!!!!!!==================*/
/******************* PAGE TEAM *******************/
/*==================!!!!!!!!!!!==================*/
.site_content_contain
{
    font-family:        helvetica;
}
.team_body {
    overflow-x:         hidden;
    padding:            0;
    margin:             0;
    background-size:    cover;
    background-color:   #4A4A4A;
    color:              white;
    font-family:        'Palanquin', sans-serif;
}
.section_title
{
    width:              90%;
    margin:             auto;
    font-weight:        bold;
}
.team_content_contain
{
    height:             100vh;
    margin-top:         100px;
    min-height:         700px;
}
.back_title
{
    font-weight:        bold;
    font-size:          15.6em;
    line-height:        1.2em;
    color:              rgba(255, 255, 255, 0.1);
    margin-left:        -10%;
    letter-spacing:     0.3em;
    display:            block;
    overflow:           hidden;
    width:              1700px;

}
.team_container
{
    top:                -90%;
    position:           relative;
    width:              70%;
    margin:             auto;
    display:            flex;
}
.team_image
{
    background-color:   white;
    opacity:            0.7;
    width:              345px;
    height:             345px;
    min-width:          345px;
    margin-right:       4em;
    overflow:           hidden;
}
.team_image img
{
    width:              100%;
    height:             auto;
}
.team_info
{
    display:            flex;
    flex-direction:     column;
    font-size:          18px;
    font-weight:        100;
    line-height:        1.5em;
    padding-bottom:     3em;
}
.team_info h3
{
    letter-spacing:     0.5em;
    font-size:          36px;
    margin-top:         0;
    margin-bottom:      80px;
    line-height:        1.2em;
}