/*==================!!!!!!!!!!!!==================*/
/******************* COMMUN ALL *******************/
/*==================!!!!!!!!!!!!==================*/

.site_content_contain
{
    height:             100vh;
    width:              100%;  
    color:              white;
}

#team_section, #hide_main {
    display: none;
    }

header 
{
    height:             30vh;
    width:              100%;
}

/**************** menu ****************/

.menu_content_contain
{
    display:            flex;
    justify-content:    space-around;
}

.menu_container
{
    padding-top:        3em;
    width:              100%;
}

.menu 
{
    display:            flex;
    flex-direction:     row;
    list-style:         none;
    width:              100%;
    justify-content:    space-around;
    padding:            0;
}

.menu_item
{
    text-decoration:    none;
    color:              white;
    letter-spacing:     0.6em;
}


/*==================!!!!!!!!!!!==================*/
/******************* PAGE ACCUEIL *******************/
/*==================!!!!!!!!!!!==================*/

.home_body {
    padding:            0;
    margin:             0;
    background:         linear-gradient(#f2cde5, #c9eafe);
    background-size:    cover;
    color:              white;
    text-align:         center;
    font-family:        'Palanquin', sans-serif;
}

.main_title 
{
    height:             40vh;
    font-family:        'Open Sans', sans-serif;
}

.main_title h1
{
    padding:            0;
    margin:             0;
    font-size:          8em;
}

.icon_scrolldown{
    height:             30vh;
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-around;
}

.link_project
{
    display:            flex;
    flex-direction:     column;
}

.link_project h3
{
    letter-spacing:     0.6em;
}

.link_project hr
{
    height:             5em;
    border :            2px solid white;
}


/*==================!!!!!!!!!!!==================*/
/******************* PAGE TEAM *******************/
/*==================!!!!!!!!!!!==================*/

.team_body {
    overflow-x: hidden;
    padding:            0;
    margin:             0;
    background-size:    cover;
    background-color:   #4A4A4A;
    color:              white;
    font-family:        'Palanquin', sans-serif;
}
.team_content_contain
{
    height:             100vh;
    margin-top:         100px;
}
.back_title
{
    font-family: helvetica;
    font-weight: bold;
    margin:             0;
    font-size:          20em;
    line-height:        1em;
    color:              rgba(255, 255, 255, 0.1);
    margin-left:        -10%;
}
.team_container
{
    top:                -65%;
    position:           relative;
    width:              70%;
    margin:             auto;
    display:            flex;
}
.team_image
{
    background-color:   tomato;
    width:              350px;
    height:             350px;
    min-width:          350px;
    margin-right:       4em;
}
.team_info
{
    font-size: 1.3em;
}