.home_body
{
    font-family:        'Lato', sans-serif;
    margin:             0;
    display:            none;
}

/********** scroll bar **********/
/* width */
::-webkit-scrollbar {
    width:              8px;
}

/* Track */
::-webkit-scrollbar-track {
    background:         inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:         #888; 
    border-radius:      4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:         #555; 
}

/********** scroll bar **********/

.site_content_contain_home
{
    height:             100vh;
    width:              100%;  
}

#team_section, #project_page, #about_section 
{
    display:            none;
}

header 
{
    height:             100px;
    width:              100%;
}
.menu_container
{
    padding-top:        3em;
    right:              0;
    width:              40%;
    margin:             auto 0 auto auto; 
}

.menu_item_content
{
    width:              30%;
    text-align:         center;
}
.menu 
{
    display:            flex;
    list-style:         none;
    justify-content:    space-around;
    padding:            0;
    font-family:        helvetica;
    margin:             0;
    height:             48px;
}

.menu_item
{
    text-decoration:    none;
    display:            block;
    line-height:        48px;

}

.hover-underline-menu 
{
    width:              30%;
}
    
.hover-underline-menu .menu a 
{
    color:              black;
}
  
.hover-underline-menu .menu .underline-from-center 
{
    position:           relative;
}

.hover-underline-menu .menu .underline-from-center::after 
{
    content:            "";
    position:           absolute;
    top:                calc(100% - 0.125rem);
    border-bottom:      0.125rem solid rgb(251, 84, 84);
    left:               50%;
    right:              50%;
    transition:         all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after 
{
    left:               0;
    right:              0;
    transition:         all 0.5s ease;
}
#current
{
    border-bottom:      solid rgb(251, 84, 84) 0.125rem;
    border-bottom-width: 60%;
}


/********************Titres********************/
.main_title
{
    font-weight:        bold;
    width:              80%;
    margin:             8em auto 0 auto;
    display:            flex!important;
    justify-content:    space-around;
    flex-wrap:          wrap;
}
.title
{
    display:            block;
    letter-spacing:     0.2em;
    font-size:          8em;
    margin:             0;
}
.second_title
{
    width:              45%;
}
.second_title h2
{
    display:            block;
    font-size:          7em;
    margin:             0;
    color:              rgb(251, 84, 84);
}
#opac
{
    opacity:            0.5;
}

/********************Displays********************/

.displays
{
    position:           absolute;
    bottom:             116px;
    display:            flex;
    align-items:        baseline;
    margin-left:        6em;
}
.displays div
{
    margin-right:       6em;
}

/********************Footer********************/

.home_base_line
{
    border-top:         solid black 1px;
    position:           absolute;
    width:              90%;
    height:             4em;
    margin:             auto 5%;
    bottom:             0;
    background-color:   white;
}
.home_footer
{
    font-family: helvetica;
    position: absolute;
    bottom: -200px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    margin: auto 5%;
    background-color: white;
    height: 200px;
    font-size: 1.3em;
}
.home_footer img
{
    margin-right: 2em;
}
.home_footer h2
{
    margin-top: 60px;
    margin-bottom: 40px;
}
.home_footer ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.home_footer a
{
    text-decoration: none;
    color: black;
}
.home_footer a:hover
{
    text-decoration: underline;
}
.home_footer li
{
    margin-bottom: 1em;
}

.copiright , .personal_links , .social_links
{
    display: flex;
    flex-direction: column;
    align-self: top;
}
.icon_about_footer
{
    height: 32px;
    display: flex;
    align-items: baseline;
}
.icon_about_footer img
{
    height: 100%;
}
.copiright
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copiright_content_links
{
    display: flex;
    align-self: center;
}
.copiright h4
{
    font-weight: inherit;
    margin: 0;
    line-height: 1.4em;
}
.copiright p
{
    font-size: 0.5em;
}

.copiright_container_links
{
    padding: 0;
}
.copiright_content_links
{
    list-style-type: none;

}
.copiright_links
{
    text-decoration: none;
    color: black;
}
.link_container
{
    padding: 0;
}
.link_content
{
    list-style-type: none;
    line-height: 1.2em;
}



.follow_container_link img
{
    width: 32px;
    height: auto;
}

/*******************=Home Page=*******************/
/*******************1600 pixels*******************/
/*******************===========*******************/

@media(max-width : 1600px)
{
    .site_content_contain_home
    {
        max-width:          1440px;
        margin:             auto;
    }
    .main_title
    {
        margin-top:         3em;
    }
    .title
    {
        font-size:          6em;
        width:              50%;
        text-align:         right;
    }
    .second_title
    {
        margin-top:         2em;
    }
    .second_title h2
    {
        font-size:          4em;
    }
    .displays
    {
        bottom:             100px;
    }
    .displays img
    {
        width:              90%;
    }
    .displays div
    {
        margin-right:       2em; 
    }
}
@media(max-width : 800px)
{
    .hover-underline-menu 
    {
        width:              100%;
        margin:             auto;
    }
    .menu_container
    {
        padding-top:        1em;
    }
    .main_title
    {
        flex-direction:     column;
        margin:             auto;
    }
    .main_title h1
    {
        width:              100%;
        text-align:         left;
        font-size:          4em;
    }
    .second_title
    {
        width:              100%;
    }
    .second_title h2
    {
        font-size:          2em;
    }
    .displays
    {
        z-index:            -1;
        bottom:             1.2em;
        margin-left:        2em;
    }
    .home_base_line
    {
        height:             1em;
    }
    .contact_footer
    {
        flex-direction: column;
    }

}
/***************!!!!! TEAM PAGE !!!!!***************/
/******************** TEAM PAGE ********************/
/***************!!!!! TEAM PAGE !!!!!***************/
.site_content_contain_about
{
    font-family:        helvetica;
    margin:             auto;
}
.team_body {
    overflow-x:         hidden;
    padding:            0;
    margin:             0;
    background-size:    cover;
    background-color:   white;
    font-family:        'Roboto', sans-serif;
}


/******************** ABOUT SECTION ********************/
.about_container
{
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-between;
}
.about_flex 
{
    text-align:         left;
    width:              90%;
    margin:             100px auto 200px auto;
    display:            flex;
    justify-content:    space-between;
}

.bloc_about
{
    width:              45%;
    padding:            1em;
}

.bloc_about h3
{
    color:              black;
    letter-spacing:     0.3em;
}
.contact
{
    margin-right:       3em;
    padding:            0;
    height:             100%;
    list-style-type:    none;
    display:            flex;
    flex-direction:     column;
    justify-content:    space-around;
}
.icon_about_container
{
    width:              32px;
    height:             auto;
}
.icon_about_container img
{
    width:              100%;
}

/******************** TEAM SECTION ********************/


.section_title
{
    letter-spacing:     0.5em;
    color:              rgb(251, 84, 84);
    width:              90%;
    margin:             auto;
    font-weight:        bold;
}
.team_content_contain
{
    height:             730px;
    margin-top:         100px;
    min-height:         700px;
}
.back_title
{
    font-weight:        bold;
    font-size:          15.6em;
    line-height:        1.2em;
    color:              rgba(251, 84, 84, 0.3);
    letter-spacing:     0.3em;
    display:            block;
    width:              1700px;
    position: relative;
}
#fisrt_back
{
    top: 720px;
}
#second_back
{
    top: 1210px;
}
#third_back
{
    top:1654px;
}
#last_back
{
    top: 2084px;
}
.team_container
{
    top:                -90%;
    position:           relative;
    width:              70%;
    margin:             auto;
    display:            flex;
}
.team_image
{
    background-color:   grey;
    opacity:            0.7;
    width:              345px;
    height:             345px;
    min-width:          345px;
    margin-right:       4em;
    overflow:           hidden;
}
.team_image img
{
    width:              100%;
    height:             auto;
}
.team_info
{
    display:            flex;
    flex-direction:     column;
    font-size:          18px;
    font-weight:        100;
    line-height:        1.5em;
    padding-bottom:     3em;
}
.team_info h3
{
    letter-spacing:     0.5em;
    font-size:          36px;
    margin-top:         0;
    margin-bottom:      80px;
    line-height:        1.2em;
}

@media(max-width : 1600px)
{
    .site_content_contain_about
    {
        max-width:          1440px;
    }


    /******************** ABOUT SECTION ********************/
    
}
@media(max-width : 800px)
{
    .about_section
    {
        margin-top:         50px;

    }
    .back_title
    {
        display:            none;
    }
    .about_flex
    {
        flex-direction:     column-reverse;
        margin-bottom:      100px;
    }
    .contact
    {
        flex-direction:     row;
        margin:             0;
    }
    .team_info h3
    {
        letter-spacing:     0.3em;
        margin-bottom:      auto;
        font-size:          1.5em;
        text-align:         center;
    }
    .bloc_about
    {
        width:              100%;
    }
    .team_content_contain
    {
        height:             auto;;
    }
    .team_container
    {
        flex-direction:     column;
        top:                0;
        width:              90%;
    }
    .team_image
    {
        margin:             auto;
        width:              95%;
        min-width:          0;
        max-width:          345px;
        height:             auto;;
    }
}

    /*==================!!!!!!!!!!!!!!==================*/
    /******************* PAGE PROJECT *******************/
    /*==================!!!!!!!!!!!!!!==================*/

.project_body
{
    overflow-x:         hidden;
    padding:            0;
    margin:             0;
    background-size:    cover;
    background-color:   #4A4A4A;
    color:              white;
    font-family:        helvetica;
}
.project_hero
{
    height:             100vh;
    text-align:         center;
    width:              100%;
    margin-top:         -100px;
}
.project_hero h1
{
    font-size:          84px;
}
.title_hero
{
    padding-top:        15%;
}
.project
{
    height:             730px;
    margin-top:         100px;
    min-height:         700px;
}
.back_title_project
{
    font-weight:        bold;
    font-size:          15.6em;
    line-height:        1.2em;
    color:              rgba(255, 255, 255, 0.1);
    letter-spacing:     0.3em;
    margin-left:        0.3em;
    text-align:         center;
    margin-top:         0;
}
.project_image
{
    width:              700px;
    height:             500px;
}
.project_image img
{
    opacity:            0.7;
}
.project_content
{
    top:                -80%;
    width:              70%;
    position:           relative;
    margin:             auto;
    display:            flex;
    justify-content:    space-between;
}
.project_content_icon
{
    top:                -60%;
    position:           relative;
    width:              70%;
    margin:             auto;
    display:            flex;
    justify-content:    space-around;
}
.icon_project
{
    height:             96px;
}
.icon_container
{
    width:              96px;
    text-align:         center;

    line-height:        2em;
}
.project_info
{
    width:              500px;
}
.project_info h3
{
    font-size:          36px;
    margin-top:         0;
    letter-spacing:     0.3em;
}
.project_info p
{
    font-size:          1.5em;
    line-height:        2em;
}
footer
{
    height:             100px;
}
footer h3
{
    width:              100%;
    text-align:         center;
}
.streamquest_footer
{
    background-color:   rgb(53, 53, 53);
    width:              70%;
    margin:             auto;  
}
@media(max-width : 1600px)
{
    .project_image img
    {
        width:              90%;
        height:             auto;
    }
}
@media(max-width : 800px)
{
    .title_hero
    {
        padding-top:        25%;
    }   
    .project_hero h1
    {
        font-size:          2em;
    }
    .project_hero h2
    {
        font-size:          1.3em;
    }
    .back_title_project
    {
        display:            none;
    }
    .project_content_icon
    {
        flex-wrap:          wrap;
    }
    .project
    {
        height:             auto;   
    }
    .project_content
    {
        flex-direction:     column;
        width:              auto;
        padding:            1em;
    }
    .project_image img
    {
        width:              100%;
    }
    .project_image
    {
        width:              auto;
        height:             auto;
    }
    .project_info
    {
        width:              auto;
        font-size:          inherit;
    }
}
